*{
    /* border: 2px solid rgb(212, 156, 156); */

}
.logo{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.hindu-menu{
    display: none;
    justify-content: space-around;
     width: 10%;
    align-items: center;
    font-size: 16px;
    color: red;
} 
.logo-hind{
    display: flex;
    align-items: center;
}


.logo-hind span{
    display: flex;
    margin-left: 5px;
    color:black;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800px;
}
.logo-hind img{
    display: flex;
    width: 30px;
    height: 30px;
}

.adobe{
    display: flex;
    width: 10%;
   justify-content: center;
   align-items: center;
}
.adobe img{
    width: 30px;
    height: 30px;
}
.adobe span{
    margin-left: 5px;
    color: #FDAB52;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800px;
}
.search img{
    display: flex;
    width: 20px;
    height: 20px;
}
.search{
    display: flex;
    width: 10%;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    margin-right: 5px;
}
ul{
    display: flex;
   list-style: none;
    padding: 0;
    justify-content: space-between;
    margin: auto;
    color: black;
    width: 70%;
    font-family: "open sans";
    font-size: 16px;
    font-weight: 900;
    border:none;

}
a{
    text-decoration: none;
    color: black;
}


.menu{
    display: flex;
    background-color: #FBFBFB;
    margin-top: 18px;
    height: 8vh;
     justify-content: center;
}
.toggle{
background-color: #1473E6;
color:#9CE5FF;
border-radius: 60px;
text-decoration: none;
padding: 10px;
border: none;
}
.bar{
    display: none;
}

.main-nav-hind{
    display: none;
}
.showcase{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 3rem 0;
    
}
h1{
    font-weight: 500;
    font-size: 80px;
    /* line-height: 1.2px; */
    margin-bottom: 20px;
    color: #FBFBFB;
}
p{
    color: #FFFFFF;
    align-items: center;
    margin-top: 10px;
    font-size: 30px;
    font-weight: 400;
}
.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
 
}
.content{
    position:absolute;
     z-index: 10;
}
.btn{
    /* background: #1473E6; */
    /* border-radius: 40px; */

}
.b1{
    border-radius: 60px;
    border: none;
    color: #A473E6;
    background-color: #1473E6;
    padding: 20px;
    font-size: 20px;
    font-weight: 300;
}
.b2{
    border-radius: 60px;
    border: none;
    color: #FBFBFB;
    padding: 20px;
    font-size: 20px;
    font-weight: 300;
}
.real{
    
    /* padding-top: 50px; */
    height: 80vh;
    text-align: center;
}
.realword{
    font-size: 20px;
    font-weight: 600;
    color: rgb(56, 50, 50);
    font-family:"open sans" ;
}
.word{
    font-size: 20px;
    font-weight: 400;
}
.google-tab{

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* padding-top: 30px; */
}




.google-tab{

    display:none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* padding-top: 30px; */
}



/* .bg-video{ */
    /* position: absolute; */
    /* right: 0; */
    /* bottom: 0; */
    /* z-index: -1; */
  /* } */

  /* .video-text{ */
    /* position: absolute; */
    /* z-index: 10; */
    /* text-align: center; */
    /* width: 60%; */
  /* } */

  /* .video-text h1{ */
      /* font-size: 60px; */
      /* font-family: 'Montserrat'; */
      /* font-weight: 800; */
      /* color: #fff; */
      /* margin: 20px 0; */
  /* } */

  /* .video-text p{ */
      /* color: #fff; */
      /* font-size: 18px; */
      /* font-weight: 800; */
      /* font-family: 'Montserrat'; */
      /* margin: 0 20px; */
      /* width: 100%; */
      /* padding: 0 50px; */
      /* margin-bottom: 30px; */
  /* } */

  .btn a{
      padding: 10px 20px;
      border: 2px solid #fff;
      margin: 10px;
      border-radius: 50px;
      font-size: 14px;
      font-weight: 800;
      font-family: 'open sans';
      color: #fff;
  }

  .btn .color{
      background: #0000ff;
      border: none;
      padding: 15px 20px;
  }

  .btn .color:hover{
      background-color: #1818f3;
      color: #fff;
  }

  .btn a:hover{
      background-color: #fff;
      color: #0e0d0d;
  }


  .arrow-down{
      margin-top: 60px;
      color: #0000ff;
  }


  .con-1{
      width: 80%;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 70px;
  }

  .con-1 h1{
      font-size: 40px;
      text-align: center;
      line-height: 1;
      font-family: 'open sans';
      margin-bottom: 20px;
  }

  .con-1 p{
      width: 50%;
      font-size: 12px;
      font-family: 'open sans';
  }

  .nav-three{
      width: 100%;
      margin: 0 auto;
      border-bottom: 0.5px solid #dbd8d888;
  }

  .nav-three ul{
      list-style: none;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      padding: 0;
      height: 10vh;
  }

  .nav-three a{
      color: #0000ff;
      font-weight: 500;
  }


  .nav-three-small{
      display: none;
  }

  .nav-three-small ul{
      list-style: none;
      padding: 0;
  }

 .nav-three-small a{
    color: #0000ff;
    font-weight: 500;
}

/* video two */

.container-1{
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

.bg-video-2{
    width: 100%;
    margin: auto;
}

/* Four boxes container */

.container-2{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin-top: 130px;
}

.box{
    height: auto;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

.box img{
    width: 100%;
}

.box p{
    font-size: 14px;
}

.box1{
    background: linear-gradient(rgb(252, 0, 0), rgb(243, 31, 31));
    color: #fff;
    font-family: 600;
}
.box1 a, .box4 a{
    color: #fff;
    font-size: 16px;
    font-family: 'open sans';
}

.box4{
    background: linear-gradient(rgb(4, 0, 252), rgb(106, 76, 218));
    color: #fff;
}

.box2 a, .box3 a{
    color: #0000ff;
    font-size: 16px;
    font-family: 'open sans';
}

.box2, .box3{
    border: 0.5px solid #eef1f1;
}

.box1, .box4{
    border: none;
}

.box-text{
    margin: 30px 20px;
}


/* User Card */

.container-3{
    display: grid;
    grid-template-columns: 1f1;
    margin: 80px 5px;
}

.card{
    width: 60%;
    margin: auto;
    text-align: center;
}

.card h2{
    font-size: 25px;
    font-family: 'open sans';
}

.card p, h4{
    margin: 0;
}

.card h4{
    color: #d0d1d1;
    font-weight: 400;
}

.card p{
    font-weight: 600;
}


/* Blue container */

.container-4{
    background-color: #0000ff;
    padding: 80px 0;

}
.cards-holder{
    width: 80%;
    margin: auto;
}

.card-text{
    width: 70%;
    text-align: center;
    margin: auto;
    margin-top: 80px;
}

.card-text h2{
    font-size: 60px;
    color:#fff;
    margin:0;
}

.card-text p{
    font-size: 14px;
    color: #fff;
    margin: 5px;
}

.card-path{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-top: 70px;
}

.card-1{
    background-color: #010130;
    border-radius: 5px;
    padding: 50px;
    color: #fff;
    font-family: 'open sans';
}


.card-2{
    background-color: #04045e2f;
    border-radius: 5px;
    padding: 50px;
    color: #fff;
    font-family: 'open sans';
}


.card-1 a{
    margin-right: 15px;
}
.bg-in{
    padding: 5px 10px;
    background-color: #fff;
    color: #0000ff;
    border-radius: 50px;
    font-weight: 600;
    font-size: 14px;
    border: 2px solid #fff;
}

.b-in{
    padding: 5px 10px;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 50px;
    font-size: 14px;
}

.bg-in:hover, .bg-in:focus{
    border: 2px solid #fff;
    color: #fff;
    background-color: transparent;
}

.b-in:hover, .b-in:focus{
    border: 2px solid #fff;
    color: #000;
    background-color: #fff;
}


.card-text-1{
    text-align: center;
    margin-top: 80px;
    color: #fff;
    font-size: 20px;
    font-family: 'open sans';
}

.icons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    width: 80%;
    margin: auto;
    margin-top: 50px;
}


.hold{
    color: #000;
    width: 80%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

}

.hold-1{
    width: 80%;
    margin: 70px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

}

.text-box, .text-box-1{
    padding: 30px;
}

.text-box-1{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.img-box img, .img-box-1 img{
    width: 100%;

}

.img-box, .img-box-1{
    display: flex;
    justify-content: center;
}

.text-box-1 h1{
    font-size: 30px;
    font-family: 'open sans';
    margin: 10px;
}
.text-box-1 p{
    width: 80%;
    font-size: 16px;
}

.text-box-1 a{
    color: #1E76E3;
    font-size: 16px;
}

/* Ready to get started */

.get-started{
    margin: 100px 0;
    text-align: center;
}

.get-started a{
    margin-top: 50px;
    margin-right: 15px;
}
.get-started .bg-in{
    padding: 5px 10px;
    background-color: #0000ff;
    color: #fff;
    border-radius: 50px;
    font-weight: 600;
    font-size: 14px;
    border: 2px solid #0000ff;
}

.get-started .b-in{
    padding: 5px 10px;
    border: 2px solid #333232;
    color: #333232;
    border-radius: 50px;
    font-size: 14px;
}

.get-started .bg-in:hover{
    border: 2px solid #1818f3;
    color: #fff;
    background-color: #1818f3;
}

.get-started .b-in:hover{
    border: 2px solid #333232;
    color: #fff;
    background-color: #333232;
}


.bg-img{
    width: 80%;
    margin: auto;
}

.bg-img img{
    width: 100%;
    margin-bottom: 100px;
}

.creativity-holder{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}


.creativity-holder img{
    width: 100px;
}

.creativity-holder h1{
    color: #000;
    font-size: 40px;
    margin: 0;
}

.cards-holder p{
    color: white;
    font-size: 14px;
    margin: 20px;
}

.creativity-holder a{
    color: #1E76E3;
    font-family: 'open sans';
    font-size: 14px;
}


/* Footer start here */

.relatedlink{
    width: 50%;
    height: 5vh;
    margin: auto;
    margin-top: 100px;
    border-top: 0.5px solid #eef1f1;;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #777373;
}

i{
    margin: 5px;
}

.footer-link img{
    width: 100%;
}

.color-line{
    height: 50px;
    background:linear-gradient(rgb(252, 173, 3),rgb(3, 252, 65));
    /* margin-top: 20px; */
}

.relatedlink:hover{
    background-color: #8d8989;
    color: #000;
}

.footer-link img{
    height: 4vh;
}

.footer-link .fa-house, .fa-chevron-right, .tag{
    font-size: 10px;
}

.footer-link .tag a{
    font-size: 10px;
}

.tag{
    margin: 20px;
}

/* Quick links */

.quick-links{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 50vh;
    grid-gap: 20px;
    margin: 20px;
    margin-bottom: 70px;
}


.q-links1 a{
    display: block;
    margin: 10px;
    color: #000;
    font-family: 'open sans';
    font-weight: 400;
}

.q-links1 a:hover{
    color:#8d8989;
}

.q-links1 h5{
    margin: 0 10px;
    color: #333232;

}

hr{
    border-bottom: 0.0005px solid #c4bebe;
    margin: 10px;
}


/* Apps */

.apps{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    text-align: center;
    padding: 5px;
    width: 96%;
    margin: auto;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 200px 500px;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.apps-links{
width: 100%;
display: flex;
align-items: center;
}

.apps-links span a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    color: #000;
    font-family: 'open sans';
    font-weight: 400;
}

.apps-links a:hover{
    color:#8d8989;
}

.apps-links img{
    padding-right: 5px;
    width: 25px;
}

.apps span{
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 700;
}

/* Copyright */
.copyright{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 96%;
    margin: auto;
    margin-bottom: 60px;
    color: #777373;
    /* height: 50vh; */
}

.region{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #777373;

}

.copyright-link{
    font-size: 10px;
    font-family: 'Montserrat';
    text-align: right;
    color: #777373;
}

.copyright-link a{
    font-size: 10px;
    font-weight: 400;
    font-family: 'open sans';
    margin: 5px;
    color: #777373;
}
.copyright-link span{
    margin: 5px;
}
.fa-spade{
    color: #000;
    font-size: 12px;
}

.social .fa-brands{
    font-size: 25px;
    color: #777373;
}

.reg{
    margin-right: 25px;
}

.reg i{
 color: #777373;
}

.reg a{
    color: #777373;
}


footer{
    background-color:#f3f0f0;
}



/* small-screen-links */

.small-screen-links{
  width: 96%;
  margin: auto;
  color: #333232;
  display: none;
}


.small-screen-links a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    border-top: 1px solid #000;
    font-size: 18px;
    color: #333232;
}

.small-screen-links .bborder{
    border-bottom: 1px solid #000;
    margin-bottom: 50px;
}


.media{
    position: fixed;
    bottom: 50px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}



  



@media (max-width:619px){

    .main-nav{
        display: none;
    }

    .main-nav-hind{
        display: flex;
        background: #f3f0f0;
        justify-content: center;
        align-items: center;
        height: 5vh;
        position:sticky;
        top: 0;
    }

    .main-nav-hind span{
        font-size: 14px;
        font-weight: 700;
    }

    .video-text h1{
        font-size: 30px;
        font-weight: 800;
    }

    .video-text p{
        color: #fff;
        font-size: 18px;
        font-weight: 800;
        font-family: 'open sans';
        margin-bottom: 30px;
    }

.hero-video{
    /* width: 100%; */
    height: 50vh;
  }

  .btn{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
  }

  .con-1{
    width: 100%;
    padding: 20px;
}

  .con-1 h1{
    font-size: 25px;

}
.con-1 p{
    width: 80%;
}

.container-2{
    grid-template-columns:1fr;
}

.card-text h2{
    font-size: 30px;
}

.card-text{
    width: 100%;
    margin-bottom: 70px;

}

.card-path{
    grid-template-columns: 1fr;
}

.card-text-1 h3{
    font-size: 14px;
    margin-bottom: 40px;
}

.icons{
    grid-template-columns: 1fr;
    grid-gap: 40px;
}

.hold, .hold-1{
    grid-template-columns: 1fr;
}

.text-box-1{
    order: 1;
}
.img-box-1{
    order: 2;
}

.text-box-1 h1{
    /* font-size: 20px; */
    text-align: center;
}

.text-box-1 p{
    width: 100%;
    text-align: center;
}

.text-box-1 span{
    width: 87%;
    align-items: center;
}
.google-tab{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

@media(max-width:650px){
    .nav-three-small{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10vh;
        font-size: 18px;
        border-bottom: 0.5px solid #dbd8d888;
    }

    .nav-three{
        display: none;
    }

    .apps{
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .copyright{
        justify-content: center;
    }
}

@media(min-aspect-ratio: 16/9){
    .bg-video{
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio: 16/9){
  .bg-video{
      width: auto;
      height: 100%;
  }
}

@media (max-width:1195px){
    .top-nav{
        display: none;
    }

    .hind-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .bar{
        width: 5%;
        font-size: 20px;
    }
    
    .logo-hind{
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo-hind img{
        width: 30px;
    }

    .logo-hind span{
        margin-left: 5px;
        font-weight: 700;
        color: #f51111;
    }

    nav ul{
        display: flex;
        font-size: 16px;
    }

    nav{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .video-text{
        width: 100%;
      }

      .quick-links{
          display: none;
      }
      .small-screen-links{
          margin-top: 50px;
          display: block;
      }
}
@media screen and (max-width: 650px){
    .ul{
        display: none;
    }
    .main-nav-hind{
        display: flex;
        flex-wrap: wrap;
        padding-top:12px;
        padding-right: 12px;

    }
   }
   
    @media screen and    (max-width: 1000px){ 
    .logo{
        display: none;
       height: 80px;
       min-height: auto;
   }
   .hindu-menu{
       display:flex ;
       justify-content: center;
       width: 10/0%;
      align-items: center;
      font-size: 16px;
      color: red;
   }
   .bar{
    display: block;
    position: absolute;
}
